
 <section class="row">
  <div class="col-md-12">
    <div class="top" style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
      padding: 5px;">

        <button class="btn-secondary" routerLink="/GCD/ajout-vehicule">Ajouter </button>
<div>
        <input type="text" placeholder="Recherche par nom..." [(ngModel)]="searchTerm">
        <button class="btn-secondary" style="background-color: #AFB3B9;"type="button" (click)="onSearch()">Rechercher</button>
      </div>


    </div>
    <table id="my-table">
      <thead style="background-color: #AFB3B9;;">
        <tr>
          <th>Nom Véhicule</th>
          <th>Nom Interne</th>
          <th>marque</th>
          <th>Groupe de Marque</th>
          <th>from</th>
          <th>to</th>
          <th>mise A jour</th>
          <th>Remarque</th>
          <th>msgDiag</th>
          <th>testGlobal</th>
          <th>onlyElec</th>
          <th>avertissElec</th>
          <th>avertissHybrid</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let voiture of vehicule ">
          <td>{{voiture.nomVeh}}</td>
          <td>{{voiture.nomInterne}}</td>
          <td>{{voiture.marque}}</td>
          <td>{{voiture.grpMarq}}</td>
          <td>{{voiture.fro}}</td>
          <td>{{voiture.t}}</td>
          <td>{{voiture.upd}}</td>
          <td>{{voiture.remarque}}</td>
          <td>{{voiture.msgDiag}}</td>
          <td>{{voiture.testGlobal}}</td>
          <td>{{voiture.onlyElec}}</td>
          <td>{{voiture.avertissElec}}</td>
          <td>{{voiture.avertissHybrid}}</td>

          <td>
            <button class="btn btn-primary " [routerLink]="['/GCD/m/modifier-vehicule',voiture.codeVeh]">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="delete(voiture.codeVeh)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <div class="top" style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
      padding: 5px;">
  <button class="btn-secondary" style="background-color: #AFB3B9;" (click)="exportToExcel()">Exporter vers Excel</button>
  <button class="btn-secondary" style="background-color: #AFB3B9;" (click)="generateXML()">Générer XML</button>
    <button (click)="logout()">logout</button>
</div>
  </div>
</section>

